* text=auto eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary

*.wav binary
*.mp3 binary
*.ogg binary
*.m4a binary
*.mp4 binary
*.webm binary
*.flac binary

*.pkl binary
*.h5 binary
*.joblib binary
